body {
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calc {
    width: 400px;
    background: #1e2c41;
    margin: 10vw auto;
}

.wrap {
    background: #3232ff;
    border-radius: 2px;
    border: solid 2px #212322;
}

.lcd {
    width: 400px;
    height: 120px;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    line-height: 120px;
    text-align: right;
    color: #DBDAD9;
    padding: 0 6px;
    letter-spacing: 2px;
}

.message {
    width: 380px;
    height: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #aa8e8e;
    position: relative;
    top: -20px;
    animation: 1.5s tiktak infinite alternate linear;
}

.keypad {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    margin: 0;
    width: 100px;
    height: 50px;
    border-radius: 2px;
    border: solid 1px #212322;
    font-size: 35px;
    background: #293d5a;
    color: #DBDAD9;
}

.pm{
  font-size: 25px;
}

.equals {
    background: #F8240B;
}

button:active {
    border: 5px solid black;
}

@keyframes tiktak{
  0%{
    color: #aa8e8e;
    transform: scale(0.95);
  }
  50%{
    color: #DBDAD9;
    transform: scale(1);

  }
  100%{
    color: #aa8e8e;
    transform: scale(0.95);
    
  }
}